@switch (layout) {
  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Empty Layout -->
  <!-- ----------------------------------------------------------------------------------------------------- -->
  @case ('empty') {
    <empty></empty>
  }

  @case ('auth') {
    <auth></auth>
  }

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Layouts with horizontal navigation -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- Customers & Guests -->
  @case ('storefront') {
    <storefront></storefront>
  }

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Layouts with vertical navigation -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- Admin -->
  @case ('admin') {
    <admin></admin>
  }

  @case ('store') {
    <store-admin></store-admin>
  }
}
